@page "{isn:int}"
@model YourBooksStore.Pages.Books.DetailModel
@{
    ViewData["Title"] = "Detail";
}
<section class="detail">
    <div class="container">
        <div class="card">
            <h5 class="card-header display-4">@Model.Book.Title</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-9">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">ISN:</div>
                            <div class="col-md-3 col-sm-12">@Model.Book.ISN</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-12">Author:</div>
                            <div class="col-md-3 col-sm-12">@Model.Book.Author</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-12">Price:</div>
                            <div class="col-md-3 col-sm-12">@Model.Book.Price</div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-12">Category:</div>
                            <div class="col-md-3 col-sm-12">@Model.Book.Category</div>
                        </div>
                        <br>
                    </div>
                    <div class="col-3">
                        <img id="img-book" src="~/media/img-book-sm.png" class="img-fluid" alt="book image">
                    </div>
                    </div>
                <div class="row">
                    <div class="col">
                        <a asp-page="./List" class="btn btn-common">All Books</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>

@if(@Model.Message != null)
{
    <br>
    <div class="alert alert-info">@Model.Message</div>
}
