@page
@model YourBooksStore.Pages.Books.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Books</h1>

<form method="GET">
   <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm"/>
            <span class="input-group-append">
                <button class="btn btn-common">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ISN</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var book in Model.Books)
    {
        <tr>
            <td>@book.ISN</td>
            <td>@book.Title</td>
            <td>@book.Author</td>
            <td>@book.Category</td>            
            <td>
                <span class="mx-2">
                    <a asp-page="./Detail" asp-route-isn="@book.ISN">
                    <i class="fa fa-info-circle btn btn-common btn-sm" aria-hidden="true"></i>
                    </a>
                </span>
                <span class="mx-2">
                     <a asp-page="./Edit" asp-route-isn="@book.ISN">
                    <i class="fa fa-edit btn btn-common btn-sm" aria-hidden="true"></i>
                    </a>
                </span>
                <span class="mx-2">
                    <i class="fa fa-trash btn btn-common btn-sm" aria-hidden="true"></i>
                </span>
            </td>
        </tr>
    }
    </tbody>
</table>

<a class="btn btn-common" asp-page="./Edit">Add New Book</a>
